.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1300px;
    margin: 5% auto 0 auto;
}

.jobSummary {
    font-size: 25px;
}

.sections {
    display: flex;
}

.paragraphs {
    width: 40%;
}

.pictures {
    margin-left: auto;
}

.para {
    font-size: 25px;
}

.picture {
    height: 400px;
    width: 700px;
}
