.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5% 15% 0 15%;
}

.jobSummary {
    font-size: 25px;
}

.sections {
    display: flex;
}

.paragraphs {
    width: 40%;
}

.pictures {
    margin-left: auto;
}

.para {
    font-size: 25px;
}

.picture {
    height: 400px;
    width: 700px;
}
