<app-nav-bar></app-nav-bar>
<div class="content">
    <h1 class="title">About Me</h1>
    
    <p class="jobSummary">I currently work as a Full Stack Software Engineer. I have 2+ years of experience in a variaty of technologies, such as .NET, C#, Visual Basic, Anglular, Postgres, Microsoft SQL Server, and MongoDB. I have experience with just about everything when it comes to the SDLC, such as building back-end services, front-end UIs, development pipelines, and cooridinating with business stakeholders to define feature requirements </p>
    <div class="sections">
        <div class="paragraphs">
            <p class="para">I was born and raised in Rockford, Illinois. I was blessed to grow up with a loving Father and Mother, and a younger brother and sister. When it was time for college I attended the University of Wisconsin - La Crosse. Here I graduated with a Bachelor of Science in Computer Science.</p>
            <p class="para">I currently live in Rochester, Minnesota with my beautiful girlfiend Shi, and our two cats Chunky and Apollo.  Some of my hobbies include snowboarding, programming, working out, and playing video games. As well as just spending time with family.</p>
        </div>
        <div class="pictures">
            <img class="picture" src="pictures/{{currentPhoto()}}.jpg" alt="Picture of girlfiend and I">
        </div>
   </div>
</div>