<div class="content">
    <div class="techContainer">
        <h2 class="subTab-title">Languages/Frameworks</h2>
        <ul>
            <li>C#</li>
            <li>TypeScript</li>
            <li>Java</li>
            <li>C</li>
            <li>Visual Basic</li>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SQL</li>
        </ul>
    </div>
    <div class="techContainer">
        <h2 class="subTab-title">Infrastructure</h2>
        <ul>
            <li>Docker</li>
            <li>Kubernetes</li>
            <li>Azure</li>
            <li>Microsoft SQL Server</li>
            <li>Postgres</li>
            <li>MongoDB</li>
        </ul>
    </div>
    <div class="techContainer">
        <h2 class="subTab-title">Testing/Misc</h2>
        <ul>
            <li>Selenium</li>
            <li>Git</li>
        </ul>
    </div>
</div>